.header{
width:400px;
height: 100px;
background-color: #141f40;
padding-top: 10px;
}

.whitebox{
    width:160px;
    height: 60px;
    background-color: #FFFFFF;
    margin: 10px 10px 10px 230px;
}

.redbox1{
    width:40px;
    height: 40px;
    margin: 10px 5px 10px 10px;
    background-color: #a9004b;
    float: left;
}


.redbox2{
    width:40px;
    height: 40px;
    margin: 10px 5px 10px 5px;
    background-color: #a9004b;
    float: left;
}

.redbox3{
    width:40px;
    height: 40px;
    margin: 10px 10px 10px 5px;
    background-color: #a9004b;
    float: left;
}

.main{
}

.left{
    width:150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}

.orngebox1{

    width:145px;
    height: 45px;
    border:solid 5px #FFF; 
    background-color: #ff863f;
    margin:35px 55px 5px 35px;
}

.orngebox2{
    width:145px;
    height: 45px;
    border:solid 5px #FFF; 
    background-color: #ff863f;
    margin:5px 55px 5px 35px;
}

.orngebox3{
    width: 145px;
    height: 45px;
    border:solid 5px #FFF; 
    background-color: #ff863f;
    margin:5px 55px 35px 35px;
}

.footer{
    width:400px;
    height: 100px;
    background-color: #d98d30;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}