.header{
width: 400px;
height: 100px;
background-color: #141f40;
}

.main{
    width: 400px;
}

.left{
    width: 150px;
    height: 250px;
    background-color:#80bfa8;
    float: left;
}    

.right{
    width: 250px;
    float: left;
}

.top{
    width: 250px;
}

.top-left{
    width: 150px;
    float: left;
}

.top-left1{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.top-left2{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

.top-right{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float:right;
}

.under{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}